server:
  port: ${PORT:8080}

spring:
  application:
    name: API-GATEWAY

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: auth-service
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=0

        - id: complaint-service
          uri: lb://COMPLAINT-SERVICE
          predicates:
            - Path=/complaints/**,/admin/**
          filters:
            - StripPrefix=0

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL}
  instance:
    prefer-ip-address: true

jwt:
  secret: ${JWT_SECRET}

app:
  cors:
    allowed-origins: "${CORS_ALLOWED_ORIGINS}"